
form button:hover {
  text-shadow:1px 1px 20px black;
  font-size:12pt;
  cursor:pointer;

}


/*Estilizando individuais */
  * {
    box-sizing: border-box !important;
    margin:0px !important;
    /*padding:0px !important;*/
  }

  /*principal container*/
  main {
    width:100% !important;
    min-height:600px;
    position:relative !important;
  }

header {
  margin:10px auto !important;
  width:90%;
  min-height:150px !important;
  padding:20px !important;
  background: url("/img/LogoSite.png");
  background-repeat: no-repeat;
  background-size: contain;
  box-shadow:1px 2px 20px black;
  opacity:0.6;
  text-align: center;
  border-radius: 50px;

}

div form#pesquisa a{
  margin-left:30% !important;
}

form#cadastro {
  margin: 10px auto !important;
  width:80% !important;
}

form#cadastro .form-group {
  margin: 10px auto !important;
}

form#cadastro .btn {
  margin: 10px auto !important;
}

table tbody tr:nth-child(2n+1) {

background:lightgray;

}

  article {
    margin:10px auto !important;
    padding:10px;
    width:100%;
    min-height:500px;
    box-shadow: 1px 10px 20px rgba(0, 28, 31, 0.33);
    position: relative;
     border-radius:0px 0px 10px 10px;
     /*text-align: center;*/
  }

  footer {
    text-align: center;
  }
